:root {
  --button-color: #ffd429;
  --button-text-color: #2e2a1b;
  --background-color-title: linear-gradient(-31deg, #378fd9 0%, #4ebefe 100%);
  --background-color-planet: #41a5eb;
  --white-text: #ffffff;
  --text-color: #201b2d;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
*,
*:before,
*:after {
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  display: flex;
  position: relative;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 65px;
}

.first-page {
  background-image: var(--background-color-title);
}

.main-page {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 73px;
}

.text-content {
  display: flex;
  align-items: center;
}
.box {
  text-align: start;
  padding-right: 140px;
}

.title {
  font-family: "Ubuntu", sans-serif;
  color: var(--white-text);
  font-size: 37px;
  font-weight: 700;
}

.title .dream {
  font-family: "Ubuntu", sans-serif;
  color: var(--white-text);
  font-size: 50px;
  font-weight: 700;
}

.title-coment {
  font-family: "Open Sans", sans-serif;
  color: var(--white-text);
  font-size: 16px;
  padding-right: 120px;
}
.image {
  width: 550px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  background: var(--button-color);
  color: var(--button-text-color);
  display: block;
  width: 220px;
  padding: 18px 0;
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 25px;
  letter-spacing: 0.3px;
}

.look {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.look-forward-list {
  list-style: none;
  display: flex;
  align-items: inherit;
  margin-top: 50px;
  margin-bottom: 100px;
}
.look-forward-item {
  text-align: center;
}
.look-forward-item .title {
  color: var(--text-color);
  font-size: 19px;
}
.look-forward-item .text {
  padding: 0px 50px;
}

.footer {
  background-color: #164d7a;
}

.footer .slogan {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 66px;
}

.slogan .text {
  color: var(--white-text);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.h-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.subscription {
  background-color: #ecf3f8;
}

.subscription .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 110px;
}

.input-form {
  border-color: #e0e6e9;
  border: 1px solid #bbbbbb;
  border-radius: 3px 3px 3px 3px;
  height: 48px;
  width: 340px;
  margin: 10px 200px;
  padding-left: 25px;
}
